{% load static %}
<div class="container-fluid h-auto">
  <div class="row">
    <div class="col-12">
      <nav class="blue-grey lighten-5 nav" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="{% url 'index' %}" class="brand-logo img-responsive">
            <img src="{% static 'img/logotipo/logotipo.png' %}" alt="logotipo-gruposolaruc" class="img-responsive w-30">
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'acerca' %}">GrupoSolar</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
            {% if not user.is_authenticated %}
              <li><a href="{% url 'login' %}"><i class="material-icons right">person</i></a></li>
            {% endif %}
            {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}"><i class="material-icons right">exit_to_app</i>{{ user.get_full_name | capfirst }}</a></li>
            {% endif %}
          </ul>
    
          <ul id="nav-mobile" class="sidenav">
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'acerca' %}">GrupoSolar</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
            {% if not user.is_authenticated %}
              <li><a href="{% url 'login' %}"><i class="material-icons left">person</i></a></li>
            {% endif %}
            {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}"><i class="material-icons left">exit_to_app</i></a></li>
            {% endif %}
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>
  </div>
</div>