{% load static %}
<div class="container-fluid w-100 px-0 py-2 mb-2 section">
    <div class="row">
      <div class="col s12">
        <div class="carousel">
          <a class="carousel-item" href="#one!"><img src="{% static './img/colector_solar_1.png' %}"></a>
          <a class="carousel-item" href="#two!"><img src="{% static './img/colector_solar_2.png' %}"></a>
          <a class="carousel-item" href="#three!"><img src="{% static './img/colector_solar_3.png' %}"></a>
          <a class="carousel-item" href="#four!"><img src="{% static './img/colector_solar_4.png' %}"></a>
          <a class="carousel-item" href="#five!"><img src="{% static 'img/colector_solar_5.png' %}"></a>
        </div>
      </div>  
    </div>
  </div>