{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row bg-dark text-white text-center py-4">
            <div class="col s4"></div>
            <div class="col s4">
                <h5>Bienvenid@ {{ profile.nombre|capfirst }} {{ profile.apellido|capfirst }}</h5>
            </div>
            <div class="col s4"></div>
        </div>
    </div>
    <div class="container">    
        <div class="row">
            <div class="col mt-5 mb-2">                
                <h6>Nombre: {{ profile.nombre|capfirst }}</h6>
                <br>
                <h6>Apellido: {{ profile.apellido|capfirst }}</h6>
                <br>
                <h6>Email: {{ profile.email }}</h6>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="row">
                    <div class="col s12">
                        <a href="{% url 'update_profile' %}" class="btn btn-primary" role="button" aria-pressed="true">Modificar usuario</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col s10">
                <h5 class="py-4 bg-dark text-center"><strong>Listado de simulaciones</strong></h5>
            </div>
            <div class="col s2">
                <a href="{%  url 'simulacion' %}" class="btn btn-info text-white mt-2" role="button" aria-pressed="true">Crear simulación</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col s12">
                {% if simulaciones %}
                    <table class="highlight responsive-table">
                        <thead>
                            <tr>
                                <th class="w-30">Nombre</th>
                                <th class="w-30">Fecha de creación</th>
                                <th class="w-40">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for simulacion in simulaciones %}
                                <tr>
                                    <td>{{ simulacion.nombre_simulacion }}</td>
                                    <td>{{ simulacion.simulacion.fecha_creacion }}</td>
                                    <td>
                                        <a href="{% url 'simulacion_detail' simulacion.id %}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-eye"></i></a></a>
                                        <button type="button" class="btn btn-danger delete-btn" data-simulacion-id="{{ simulacion.id }}"><i class="fas fa-trash-alt"></i></button>
                                        <a href="{% url 'simulacion_update' simulacion.id %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="{% url 'descargar_archivo' simulacion.id %}" class="btn btn-success btn-sm" role="button" aria-pressed="true"><i class="fas fa-download"></i>TMY</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No se han creado simulaciones.</p>
                {% endif %}
            </div>
        </div>
        <div id="deleteModal" class="modal">
            <div class="modal-content center">
                <h5>Eliminar simulación</h5>
                <p>¿Estás seguro de que quieres eliminar esta simulación?</p>
            </div>
            <div class="modal-footer center">
                <div class="row">
                    <div class="col s4">
                    </div>
                    <div class="col s2 ">
                        <button class="modal-close waves-effect waves-green btn btn-danger">Cancelar</button>
                    </div>
                    <div class="col s2">
                        <form method="post" action="" id="deleteForm">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Eliminar simulación</h5>
                        <button type="button" class="btn btn-secondary close modal-close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que quieres eliminar esta simulación?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">Cancelar</button>
                        <form method="post" action="" id="deleteForm">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);

            var deleteButtons = document.querySelectorAll('.delete-btn');

            deleteButtons.forEach(function(btn) {
                btn.addEventListener('click', function(event) {
                    var simulacionId = this.dataset.simulacionId;
                    var deleteUrl = "{% url 'simulacion_delete' 123 %}".replace('123', simulacionId);
                    var deleteForm = document.getElementById('deleteForm');

                    // prevent link from being followed
                    event.preventDefault();

                    deleteForm.action = deleteUrl;
                    // open modal
                    var deleteModalInstance = M.Modal.getInstance(document.getElementById('deleteModal'));
                    deleteModalInstance.open();
                });
            });
        });
    </script>
{% endblock %}