{%extends 'base.html'%}
{% block 'content' %}
<div class="container my-3">
    <div class="row">
        <div class="col-12 col-md-6 offset-0 offset-md-3 mt-4 mb-4">
            <h3 class="text-center">
                Gracias por contactarse con  <strong class="fs-4">GrupoSolarUC</strong> , te responderemos a la brevedad
            </h3>
            <div class="text-center">
                <a href="{% url 'index' %}" class ="btn botones">
                    Volver al inicio
                </a>
            </div>    
        </div>
    </div>    
</div>
{% endblock %}